<h1>Zgjidhni Qytetin</h1>

<ul style="list-style:none;">
    @foreach (var city in (IEnumerable<dynamic>)ViewBag.Cities)
    {
        <li style="margin: 10px;">
            <a class="btn btn-primary" style="width:200px" ; href="/qyteti/@city.Id">@city.Emri</a>
        </li>
    }
</ul>

